@font-face{
    font-family: "Tajawal";
    src: url("../webfonts/Tajawal-Medium.ttf")
}

body {
    font-family: "Tajawal";
}

#homePagefeaturedItems .card-img-top {
    height: 250px;
    object-fit: cover;
}

a {
    text-decoration: none;
}